body {
    background: #f7f7f7;
  }
  
  .table {
    border-spacing: 0 0.85rem !important;
  }
  
  .table .dropdown {
    display: inline-block;
  }
  
  .table td,
  .table th {
    vertical-align: middle;
    margin-bottom: 10px;
    border: none;
  }
  
  .table thead tr,
  .table thead th {
    border: none;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #fed136;
  }
  
  .table td {
    background: #fff;
  }
  
  .table td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .table td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .avatar {
    width: 2.75rem;
    height: 2.75rem;
    line-height: 3rem;
    border-radius: 50%;
    display: inline-block;
    background: transparent;
    position: relative;
    text-align: center;
    color: #868e96;
    font-weight: 700;
    vertical-align: bottom;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .avatar-sm {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 0.83333rem;
    line-height: 1.5;
  }
  
  .avatar-img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  
  .avatar-blue {
    background-color: #c8d9f1;
    color: #467fcf;
  }
  
  table.dataTable.dtr-inline.collapsed
    > tbody
    > tr[role="row"]
    > td:first-child:before,
  table.dataTable.dtr-inline.collapsed
    > tbody
    > tr[role="row"]
    > th:first-child:before {
    top: 28px;
    left: 14px;
    border: none;
    box-shadow: none;
  }
  
  table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child,
  table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th:first-child {
    padding-left: 48px;
  }
  
  table.dataTable > tbody > tr.child ul.dtr-details {
    width: 100%;
  }
  
  table.dataTable > tbody > tr.child span.dtr-title {
    min-width: 50%;
  }
  
  table.dataTable.dtr-inline.collapsed > tbody > tr > td.child,
  table.dataTable.dtr-inline.collapsed > tbody > tr > th.child,
  table.dataTable.dtr-inline.collapsed > tbody > tr > td.dataTables_empty {
    padding: 0.75rem 1rem 0.125rem;
  }
  
  div.dataTables_wrapper div.dataTables_length label,
  div.dataTables_wrapper div.dataTables_filter label {
    margin-bottom: 0;
  }
  
  @media (max-width: 767px) {
    div.dataTables_wrapper div.dataTables_paginate ul.pagination {
      -ms-flex-pack: center !important;
      justify-content: center !important;
      margin-top: 1rem;
    }
  }
  
  .btn-icon {
    background: #fff;
  }
  .btn-icon .bx {
    font-size: 20px;
  }
  
  .btn .bx {
    vertical-align: middle;
    font-size: 20px;
  }
  
  .dropdown-menu {
    padding: 0.25rem 0;
  }
  
  .dropdown-item {
    padding: 0.5rem 1rem;
  }
  
  .badge {
    padding: 0.5em 0.75em;
  }
  
  .badge-success-alt {
    background-color: #d7f2c2;
    color: #7bd235;
  }
  
  .table a {
    color: #212529;
  }
  
  .table a:hover,
  .table a:focus {
    text-decoration: none;
  }
  
  table.dataTable {
    margin-top: 12px !important;
  }
  
  .icon > .bx {
    display: block;
    min-width: 1.5em;
    min-height: 1.5em;
    text-align: center;
    font-size: 1.0625rem;
  }
  
  .btn {
    font-size: 0.9375rem;
    font-weight: 500;
    padding: 0.5rem 0.75rem;
  }
  
  .avatar-blue {
        background-color: #fed136;
        color: #467fcf;
      }
  
      .avatar-pink {
        background-color: #fcd3e1;
        color: #f66d9b;
      }



      /* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  border-left: 16px solid pink;
}

#loadertext {
  position: absolute;
  left: 45%;
  top: 40%;
  z-index: 1;
  margin: -75px 0 0 -75px;
}


@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

