<div class="banner">
	<div class="container">
	<div class="banner-text">
	<div class="banner-heading">
	Glad to see you here !
	</div>
	<div class="banner-sub-heading">
	<strong>Sending OTP becomes easy with us.</strong>
	</div>
	<button type="button"
	(click)="redirect()"
	 class="btn btn-warning text-dark btn-banner">Get started</button>
	</div>
	</div>
</div>
<section id="about">
<div class="container">
	<div class="text-intro">
	<h2>About Us</h2>
		<p><strong>We provide services so that you can send OTP to your contacts.</strong></p>
	</div>
</div>
</section>
